<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<%= link_to 'New User', new_user_path,
    data: { 'turbo-frame': 'new_user' }
%>

<%= turbo_frame_tag :new_user %>

<div id="users">
  <%= turbo_frame_tag :users do %>
      <%= render @users %>
    <% end %>
</div>
